@model IEnumerable<ShopThoiTrang.Models.Category>
@foreach (var cat in Model)
{
    ViewBag.Title = @cat.Name;
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
    <section class="featured spad main__section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    @Html.Action("SidebarMenu", "Module")
                </div>
                <div class="col-lg-9">
                    @Html.Action("Search", "Module")
                    <div class="row">
                        <div class="col-lg-12 mt-2">
                            <h3 class="text__featured">SẢN PHẨM</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="text__featured">@cat.Name</h3>
                        </div>
                    </div>
                    <div class="row featured__filter">
                        @Html.Action("ProductCategory", "Sanpham", new { @catid = cat.Id })
                    </div>
                </div>
            </div>
        </div>
    </section>
}

