@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

@section scripts {
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<script src="~/Public/owlcarousel/owl.carousel.min.js"></script>
<script src="~/Public/js/main.js"></script>
<script src="~/Public/js/mixitup.min.js"></script>
<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    })
</script>
}@Html.Action("Modal", "Module")
<!-- Drop__Menu Section Begin -->
<section class="dropdown__menu">
    <div class="container flex__menu">
        <div class="col-lg-3">
            @Html.Action("SidebarMenu", "Module")
        </div>
        <div class="col-lg-9">
            @Html.Action("Search", "Module")
            @Html.Action("Slider", "Module")
        </div>
    </div>
    <div class="container flex__menu">
        <div class="col-lg-3 sale__support">
            <div class="sale">
                <p><i class="fa-solid fa-truck-fast"></i> MIỄN PHÍ VẬN CHUYỂN</p>
            </div>
        </div>
        <div class="col-lg-3 sale__support">
            <div class="sale">
                <p><i class="fa-solid fa-headset"></i> HỖ TRỢ 24/7</p>
            </div>
        </div>
        <div class="col-lg-3 sale__support">
            <div class="sale">
                <p><i class="fa-solid fa-rotate"></i> HOÀN TIỀN 100%</p>
            </div>
        </div>
    </div>
</section>
<!-- Drop__menu Section End -->

<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <hr id="featured" />
        <div class="row">
            <h3 class="text__categories">SẢN PHẨM NỔI BẬT</h3>
            <div class="owl-carousel owl-theme">
                @foreach (var pro in ViewBag.listPro)
                {
                    <div class="item">
                        <div class="featured__item" style="margin-bottom:unset">
                            <div class="featured__item__pic">
                                <img src="~/Public/img/Product/@pro.Img" />
                                <ul class="featured__item__pic__hover">
                                    <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fa-solid fa-retweet"></i></a></li>
                                    <li><a href="@Url.Action("Add","Giohang",new {@id = pro.Id})"><i class="fa-solid fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="featured__item__text">
                                <h6><a href="@Url.Action("ProductDetail","Sanpham",new {@slug = pro.Slug})">@pro.Name</a></h6>
                                <h5>@pro.Price &#8363</h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->



